<span style="font-size:30px;cursor:pointer" onclick="openNav()"> <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <form>
      <i class="fa fa-search" aria-hidden="true"></i>&nbsp;<input type="text" id="busca" placeholder="Buscar Perfil">
      <button onclick="change('/#/busca/'+document.getElementById('busca').value)" style="visibility: hidden">Buscar</button>
  </form>
  <a href="javascript:change('/#/')"> <i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</a>
  <a href="javascript:change('/#/perfil')"> <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Profile</a>
  <a href="#" ng-click="usuario.deslogar();"> <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a>
</div>
