extends layout

block vars
    - var atual= 'cliente';
block content
    .page-header
        h1=title
    div
        if cs
            .row
                form(action="/clientes/edit/"+ cs.id, method="post", onsubmit="return adquiridos();")
                    .col-sm-12
                        .form-group
                            label(for="nome") Nome
                            input(type="text", name="nome", value= cs.nome id="nome", class="form-control")
                    .col-sm-6
                        .form-group
                            label(for="rg") RG
                            input(type="text", name="rg", value= cs.RG, id="rg", class="form-control")
                    .col-sm-6
                        .form-group
                            label(for="cpf") CPF
                            input(type="text", name="cpf", value= cs.CPF, id="cpf", class="form-control")
                    .col-sm-8
                        .form-group
                            label(for="rua") Rua
                            input(type="text", name="rua", value= cs.rua, id="rua", class="form-control")
                    .col-sm-4
                        .form-group
                            label(for="numero") Número
                            input(type="text", name="numero", value= cs.numero, id="numero", class="form-control")
                    .col-sm-6
                        .form-group
                            label(for="bairro") Bairro
                            input(type="text", name="bairro", value= cs.bairro, id="bairro", class="form-control")
                    .col-sm-6
                        .form-group
                            label(for="email") Email
                            input(type="text", name="email", value= cs.email, id="email", class="form-control")
                    .col-sm-6
                        .form-group
                            label(for="telefone") Telefone
                            input(type="text", name="telefone", value= cs.telefone, id="telefone", class="form-control")
                    .col-sm-12
                        table.table.table-striped
                            tr 
                                td 
                                    p Rodoviário
                                td
                                    if cs.rodoviario
                                        input(type="checkbox", value="rodoviario", name="adq", id="rodoviario", checked="true")
                                    else
                                        input(type="checkbox", value="rodoviario", name="adq", id="rodoviario")
                            tr
                                td 
                                    p Aéreo
                                td
                                    if cs.aereo
                                        input(type="checkbox", value="aereo", name="adq", id="aereo", checked="true")
                                    else
                                        input(type="checkbox", value="aereo", name="adq", id="aereo")
                            tr
                                td 
                                    p Pacote
                                td
                                    if cs.pacote
                                        input(type="checkbox", value="pacote", name="adq", id="pacote", checked="true")
                                    else
                                        input(type="checkbox", value="pacote", name="adq", id="pacote")
                            tr
                                td 
                                    p Locação
                                td
                                    if cs.locacao
                                        input(type="checkbox", value="locacao", name="adq", id="locacao", checked="true")
                                    else
                                        input(type="checkbox", value="locacao", name="adq", id="locacao")
                            tr
                                td 
                                    p Encomendas
                                td
                                    if cs.encomendas
                                        input(type="checkbox", value="encomendas", name="adq", id="encomendas", checked="true")
                                    else
                                        input(type="checkbox", value="encomendas", name="adq", id="encomendas")
                    .col-sm-12
                        input(type="text", id="adqunico", style="display: none", name="adquirido")
                    .col-sm-12
                        input(type="submit", value="Enviar", class="btn btn-default")
        else
            p Não encontrado
        script.
            var adquiridos = function(){
                var elementos = document.getElementsByName('adq');
                var a = '';
                for(var i = 0; i < elementos.length; i++){
                    if(elementos[i].checked){
                        a = a+elementos[i].value+';';
                    }
                }
                document.getElementById('adqunico').value= a;
            }
